body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%) ;

}

#calculator {
    font-family:  Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%) ;
    border-radius: 15px;
    max-width: 480px;
    overflow: hidden;
}

#display {
    color: #fff;
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 15%) ;
}

#keys {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%) ;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.sign {
    background-color: hsl(35, 100%, 50%)
}

.zero {
    width: 210px;
    padding-right: 110px 
}

button:hover {
    background-color: hsl(0, 0%, 40%) ;
}

button:active {
    background-color: hsl(0, 0%, 45%) ;
}

.sign:active {
    background-color: hsl(35, 100%, 65%)
}

.sign:hover {
    background-color: hsl(35, 100%, 60%)
}

.top {
    background-color: hsl(0, 5%, 55%) ;
}

.top:hover {
    background-color: hsl(0, 5%, 65%) ;
}

.top:active {
    background-color: hsl(0, 5%, 70%) ;
}